#about {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	#book-title {
		padding: 10px 10px 10px 10px;
		text-align: left;
		width: 50%;
		p {
			font-size: 15px;
		}
		#show-content {
			background-color: mediumseagreen;
			border-radius: 10px;
			color: #fff;
			display: inline-block;
			margin: 40px 0 0 0;
			padding: 10px 20px;
			text-decoration: none;
			&:hover {
				background-color: darkslategrey;
			}
		}
	}
	#cover {
		width: 50%;
		//min-height: 50vh;
		margin: 0 0 40px 0;
		img {
			padding: 0;
		}
	}
	.description {
		width: 100%;
		margin-bottom: 2em;
		p {
			text-indent: 2em;
			margin: 0;
		}
		.autor {
			margin: 2em 0 0 0;
		}
	}
	.autors {
		width: 100%;
		p {
			margin: 0;
			width: 100%; // Error
		}
		address {
			margin: 2em 0 4em 0;
			p {
				text-align: left;
			}
		}
	}
}
