[data-above] {
	position: relative;
	text-indent: 0;
	white-space: nowrap;
}
[data-above]:after {
	bottom: 1.2em;
	color: #666;
	content: attr(data-above);
	display: inline-block;
	font-family: monospace;
	font-size: 0.8em;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1.5;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	width: 100%;
	text-indent: 0;
	white-space: nowrap;
}
