#page section.autor,
#page div.autor {
	font-style: italic;
	margin-bottom: 1em;
	min-width: 50%;
	text-align: right;
	a {
		color: cornflowerblue;
		font-style: italic;
	}
}

#page i.autor {
  font-style: italic;
  a {
		color: cornflowerblue;
		font-style: italic;
	}
}
