#page .autors {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#page .autor-foto {
	width: 50%;
}
#page .autor-desc {
	text-align: left;
	width: 50%;
	h1 {
		line-height: 1.2;
		text-align: left;
	}
	p {
		margin: 0 0 10px 0;
		text-indent: 0!important;
	}
}
#page .autor-text {
	width: 100%;
	p {
		text-align: justify;
		text-indent: 34px;
	}
}
