.autors-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	a {
		box-sizing: border-box;
		color: darkcyan;
		display: block;
		font-size: 18px;
		margin-bottom: 20px;
		padding: 10px;
		text-decoration: none;
		width: 50%;
		&:hover {
			background: cornsilk;
		}
		img {
			float: left;
			margin-right: 20px;
			padding: 0;
			width: 20%;
		}
	}
}
