#page .bb {
	border-bottom: 3px solid @blue;
	border-top: 3px solid @blue;
	margin: 1em -40px;
	padding: 2em 40px;
	background: aliceblue;
	box-sizing: border-box;
	p {
		text-align: left;
		text-indent: 0;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	table {
		margin-bottom: 0;
		border: none;
		td {
			border: none;
		}
	}
}
