#clocks {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	img {
		width: 20%;
	}
	p {
		box-sizing: border-box;
		padding: 20px;
		width: 40%;
	}
}
#clocks2 {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	figure {
		box-sizing: border-box;
		margin: 0;
		padding: 20px;
		text-align: center;
		width: 50%;
		img {
			box-sizing: border-box;
			padding: 10px;
			width: 50%;
		}
	}
}
