.bg-blue {
  background: @blue;
}

.bg-burlywood {
  background: burlywood;
}

.bg-coral {
  background: @coral;
}

.bg-crimson {
  background: @crimson;
}

.bg-darkseagreen {
  background: @green;
}

.bg-green {
  background: lighten(@green, 10%);
}

.bg-lightseagreen {
  background: @lightseagreen;
}

.bg-lightskyblue {
  background: @lightskyblue;
}

.bg-orange {
  background: @orange;
}

.bg-pink {
  background: @pink;
}

.bg-purple {
  background: @purple;
}

.bg-red {
  background: @red;
}

.bg-slateblue {
  background: @slateblue;
}

.bg-violet {
  background: @violet;
}

.bg-yellow {
  background: @yellow;
}

.blue {
  color: @blue;
}

.border-black {
  border: 2px solid @black;
}

.border-blue {
  border: 4px solid @blue;
}

.border-coral {
  border: 4px solid @coral;
}

.border-crimson {
  border-color: @crimson;
}

.border-green {
  border: 4px solid @green;
}

.border-orange {
  border: 4px solid @orange;
}

.border-pink {
  border: 4px solid @pink;
}

.border-purple {
  border: 4px solid @purple;
}

.border-yellow {
  border: 4px solid @yellow;
}

.brown {
  color: @brown;
}

.cadetblue {
  color: @cadetblue;
}

.coral {
  color: @coral;
}

.crimson {
  color: @crimson;
}

.green {
  color: @green;
}

.lightseagreen {
  color: @lightseagreen;
}

.orange {
  color: @orange;
}

.pink {
  color: @pink;
}

.purple {
  color: @purple;
}

.red {
  color: @red;
}

.yellow {
  color: @yellow;
}

.white {
  color: @white;
}

.violet {
  color: @violet;
}
