#page {
	.big {
		font-size: 1.5em;
	}
	.bisline {
		border-bottom: 3px double #222;
	}
	.center {
		text-align: center!important;
	}
	.columns {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.dash {
		border-bottom: 1px dashed #222;
	}
	.indent {
		text-indent: 1.5em;
	}
	.left {
		text-align: left;
	}
	.line {
		border-bottom: 1px solid #222;
	}
	.noindent {
		text-indent: 0!important;
	}
	.noindent p {
		text-indent: 0!important;
	}
	.right {
		text-align: right;
	}
	.rotated {
		display: inline-block;
		text-indent: 0;
		transform: rotateZ(180deg);
	}
	.verybig {
		font-size: 3em;
	}
	.underline {
		border-bottom: 1px solid #222;
	}
}
.w100 {
	width: 100%;
}
.w90 {
	width: 90%;
}
.w80 {
	width: 80%;
}
.w70 {
	width: 70%;
}
.w60 {
	width: 60%;
}
.w50 {
	width: 50%;
}
.w40 {
	width: 40%;
}
.w33 {
	width: 33.33%;
}
.w30 {
	width: 30%;
}
.w25 {
	width: 25%;
}
.w20 {
	width: 20%;
}
.w16 {
	width: 16.666666666666668%;
}
.w15 {
	width: 15%;
}
.w10 {
	width: 10%;
}
