.dotdash {
	position: relative;
}
.dotdash:after {
	color: #444;
	content: "·―·―·―·―·―·―·―·―·―·―·―·―·―·―·―·―·";
	display: inline-block;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.5;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0.6em;
	width: 100%;
	word-wrap: normal;
	text-indent: 0;
}
