#page .exclamation {
	border-bottom: 3px solid @coral;
	border-top: 3px solid @coral;
	margin: 1em 0;
	padding: 1em 0;
	p {
		text-indent: 0;
		text-align: left;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
