// don't show empty elements

[data-hint='']:after,
[data-hint='']:before {
	display: none !important;
}

[data-hint] {
	cursor: help;
	display: inline-block;
	position: relative;
	text-indent: 0;

	&:after {
		content: "*";
		color: @red;
		font-weight: normal;
	}

	&:before {
		background: #383838;
		border-radius: 4px;
		bottom: 100%;
		color: #fff;
		content: attr(data-hint);
		display: inline-block;
		font-weight: normal;
		font-size: 18px;
		line-height: 1.1;
		opacity: 0;
		padding: 6px;
		pointer-events: none;
		position: absolute;
		text-align: center;
		text-shadow: 0 -1px 0 #000;
		transition: 0.3s ease;
		transform: translate3d(0, 0, 0);
		transition-delay: 0;
		visibility: hidden;
		white-space: pre-wrap;
		max-width: calc(100%+80px);
		z-index: 100000;
	}

	&:active,
	&:focus,
	&:hover {
		&:after {}

		&:before {
			opacity: 0.95;
			animation: show-hide-hint 4s 1 linear;
			box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
			transition-delay: 100ms;
		}
	}
}
@keyframes show-hide-hint {
	from {
		visibility: visible;
	}

	to {
		visibility: hidden;
	}
}
@-webkit-keyframes show-hide-hint {
	from {
		visibility: visible;
	}

	to {
		visibility: hidden;
	}
}
