#page {
	.icons {
		width: 100%;
		margin-bottom: 0.5em;
	}
	i[class^="icon"] {
		font-size: 1.5em;
		text-indent: 0;
	}
}
i.icon-abc {
	color: @purple;
}
i.icon-bell {
	color: @blue;
}
i.icon-bell2 {
	color: @blue;
}
i.icon-camera {
	color: @slateblue;
}
i.icon-check {
	color: @green;
}
i.icon-circle {
	color: @pink;
}
i.icon-control {
	color: @orange;
}
i.icon-exclamation {
	color: @coral;
}
i.icon-group {
	color: @green;
}
i.icon-group2 {
	color: @green;
}
i.icon-home {
	color: @darkorange;
}
i.icon-listen {
	color: @pink;
}
i.icon-listenwrite {
	color: @violet;
}
i.icon-make {
	color: @purple;
}
i.icon-musickey {
	color: @pink;
}
i.icon-new {
	color: @cadetblue;
}
i.icon-notebook {
	color: @brown;
}
i.icon-notebook2 {
	color: @green;
}
i.icon-phones {
	color: @violet;
}
i.icon-question {
	color: @orange;
}
i.icon-read {
	color: @purple2;
}
i.icon-search {
	color: @darkorange;
}
i.icon-solar {
	color: @coral;
}
i.icon-speech {
	color: @pink;
}
i.icon-teacher {
	color: @crimson;
}
i.icon-together2 {
	color: @green;
}
i.icon-together {
	color: @pink;
}
i.icon-write {
	color: @brown;
}
