img {
	background: #fff;
}
#page {
	figure {
		position: relative;
	}
	img {
		max-width: 100%;
		padding: 20px 0;
		text-align: center;
		box-sizing: border-box;
		background: #fff;
	}
	.float-image {
		width: 30%;
		float: left;
		margin: 0.5em 2em 1.5em 0;
		padding: 0;
	}
	.images.border {
		border-bottom: 2px solid #999;
		border-top: 2px solid #999;
		max-width: 100%;
		img {
			padding: 20px 0 5px;
		}
	}
	.inline-image {
		display: inline-block;
		margin: -0.5em 0.2em;
		padding: 0;
		vertical-align: middle;
		width: 4em;
	}
}
.images figure {
	width: 100%;
}
.images2 figure {
	width: 50%;
}
.images3 figure {
	width: 33.33%;
}
.images4 figure {
	width: 25%;
}
.images5 figure {
	width: 20%;
}
.images6 figure {
	width: 16.66%;
}
.images,
.images2,
.images3,
.images4,
.images5,
.images6 {
	align-items: flex-end;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	margin: 20px auto;
	//max-width: 600px;
	figure {
		-webkit-margin-after: 0;
		-webkit-margin-before: 0;
		-webkit-margin-end: 0;
		-webkit-margin-start: 0;
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
		margin: 0;
		text-align: center;
		img {
			box-sizing: border-box;
			padding: 10px;
			width: 100%;
		}
		span {
			display: block;
			font-size: 0.8em;
			text-align: center;
			width: 100%;
		}
	}
}
