body {
	font-family: 'Roboto', sans-serif;
}
atricle,
section {
	box-sizing: border-box;
}
iframe {
	width: 100%;
	height: 100%;
	min-height: 80vh;
}
#page {
	background: #fff;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 800px;
	padding: 40px;
	width: 100%;
	a {
		color: cornflowerblue;
	}
	article {
		margin: 1em 0;
		/* h1 {
			font-size: 1.1em;
			font-weight: bold;
		} */
	}
	em {
		font-style: italic;
	}
	sup {
		font-style: normal;
		color: #666;
	}
	p {
		line-height: 1.5;
		margin: 0 0 1em;
		text-align: justify;
		text-indent: 0;
	}
	p.small {
		font-size: 0.9em;
	}
	strong {
		font-weight: 700;
	}
	h1,
	h2,
	h3 {
		font-weight: normal;
		text-align: center;
	}
	h1 {
		font-size: 1.7em;
		margin: 10px 0 20px;
	}
	h1.small {
		font-size: 1.2em;
	}
	h2 {
		font-size: 1.3em;
		margin: 10px 0 20px;
	}
	h2.small {
		font-size: 1em;
	}
	hgroup {
		margin-bottom: 1em;
		text-align: center;
		h1 {
			margin-bottom: 0 !important;
		}
		p {
			display: inline-block;
			text-align: center!important;
			text-indent: 0!important;
		}
	}
	hr.small {
		width: 68px;
		color: #000;
		line-height: 1.5;
		margin: 0 0 1em;
		text-indent: 0;
	}
	ol,
	ul {
		li {
			line-height: 1.5;
			margin: 0 0 1em;
			text-align: left;
			text-indent: 0;
		}
	}
	ul {
		li {
			list-style-type: disk;
		}
	}
	ol {
		li {
			list-style-type: decimal;
		}
	}
}
