.clearfix {
    &:after,
    &:before {
        clear: both;
        content: "";
        display: table;
    }
}
.flex {
    display: flex!important;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
