#page .new {
	border-bottom: 3px solid cadetblue;
	border-top: 3px solid cadetblue;
	margin: 2em 0;
	padding: 1em 0;
	p {
		text-align: left;
		text-indent: 0;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
