#page .pagenum {
  .clearfix;
  background: orange;
  border-radius: 20px 0 0 20px;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 10px;
  line-height: 1;
  margin: -15px -40px -15px 10px;
  padding: 10px 4px 8px 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  &:hover {
    padding-left: 12px;
    padding-right: 30px;
    margin: -18px -40px -18px 10px;
    background: darkorange;
    font-size: 16px;
    font-weight: 700;
  }
}
