/* Player mini */
.mejs-container.audio-mini {
	width: 40px!important;
	text-shadow: inset 1px 1px 1px #fff;
	* {outline: none!important;}
	margin-bottom: 40px;
	background: transparent;
	height: 40px!important;
	outline: 1px solid #f1f1f1;
}
.audio-mini {
  .mejs-controls {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
    background: transparent;
    height: 40px;
    .mejs-time-rail {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			height: 100%;
			padding: 0;
			width: 40px!important;
			z-index: -1;
      .mejs-time-total {
        background: #f9f9f9;
        height: 100%;
				margin: 0;
				top: 0;
				left: 0;
				width: 40px!important;
				height: 40px;
      }
      .mejs-time-buffering {
        height: 100%;
				background: transparent;
      }
      .mejs-time-loaded {
        background: transparent;
        width: 0;
        height: 100%;
				position: absolute;
				top: 0;
				left: 0;
      }
      .mejs-time-current {
        width: 0;
        height: 100%;
        background: lightseagreen;
      }
      .mejs-time-handle {
				display: none;
      }
      .mejs-time-float {
				display: none;
      }
			.mejs-time-float-corner {
				display: none;
			}
    }
    .mejs-playpause-button {
      width: 40px;
      height: 40px;
			margin: 0;
			padding: 0;
      button {
				color: #222;
				background: transparent;
        margin: 0;
        padding: 0;
				font-size: 20px;
				height: 40px;
				width: 40px;
				&:after {
					font-family: 'Ionicons';
					content: '\f215';
				}
      }
    }
    .mejs-pause {
      button {
        &:after {
					font-family: 'Ionicons';
					content: '\f210';
				}
      }
    }
    .mejs-fullscreen-button {
			display: none;
      button {
				display: none;
			}
    }
    .mejs-unfullscreen {
      display: none;
    }
		.mejs-volume-button {
			display: none;
			.mejs-volume-slider {
				display: none;
			}
			.mejs-volume-total {
				display: none;
			}
			.mejs-volume-current {
				display: none;
			}
			.mejs-volume-handle {
				display: none;
			}
		}
		.mejs-mute {
			display: none;
		}
		.mejs-unmute {
			display: none;
		}
		.mejs-time {
			display: none;
		}
		.mejs-currenttime-container,
		.mejs-duration-container {
			display: none;
		}
		.mejs-captions-button {
			display: none;
		}
		.mejs-horizontal-volume-slider {
			display: none;
			.mejs-offscreen {
				display: none;
			}
			.mejs-horizontal-volume-total {
				display: none;
			}
			.mejs-horizontal-volume-current {
				display: none;
			}
			.mejs-horizontal-volume-handle {
				display: none;
			}
		}
  }
  .mejs-button,
  .mejs-time {
		display: none;
  }
}
