/* Player big */
.mejs-container.audio-big {
	width: 100%!important;
	text-shadow: inset 1px 1px 1px #fff;
	* {outline: none!important;}
	outline: 1px solid #f1f1f1;
	min-height: 40px!important;
	box-sizing: border-box;
	background: #000;
}
.audio-big {
  .mejs-controls {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
    background: #f9f9f9;
    height: 40px;
    .mejs-time-rail {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
			justify-content: center;
			height: 40px;
			padding: 0;
			min-width: 100px;
      .mejs-time-total {
        background: #bbb;
        height: 2px;
				margin: 0;
      }
      .mejs-time-buffering {
        height: 2px;
      }
      .mejs-time-loaded {
        background: #ccc;
        width: 0;
        height: 2px;
      }
      .mejs-time-current {
        width: 0;
        height: 2px;
        background: lightseagreen;
      }
      .mejs-time-handle {
        display: block;
        margin: 0;
        width: 10px;
        height: 10px;
        top: -4px;
        border: 0;
				background: lightseagreen;
				transition: transform 0.4s ease-in-out;
				&:hover {
					transform: scale(1.2);
				}
      }
      .mejs-time-float {
        display: none;
				position: absolute;
				background: rgba(0, 0, 0, 0.6);
				//min-width: 30px;
				//height: 20px;
				visibility: hidden;
				border: none;
				padding: 2px;
				top: -25px;
				margin-left: -18px;
				text-align: center;
				color: #fff;
      }
			.mejs-time-float-corner {
				display: none;
			}
    }
    .mejs-playpause-button {
      width: 40px;
      height: 40px;
			margin: 0;
			padding: 0;
      button {
				color: #222;
				background: transparent;
        margin: 0;
        padding: 0;
				font-size: 20px;
				height: 40px;
				width: 40px;
				&:after {
					font-family: 'Ionicons';
					content: '\f215';
				}
      }
    }
    .mejs-pause {
      button {
        &:after {
					font-family: 'Ionicons';
					content: '\f210';
				}
      }
    }
    .mejs-fullscreen-button {
      width: 40px;
      height: 40px;
      background: none;
      button {
				background: none;
        width: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
				color: #222;
				font-size: 20px;
				&:after {
					font-family: 'Ionicons';
					content: '\f25e';
				}
      }
    }
    .mejs-unfullscreen {
      button {
        background: none;
        margin: 0;
        padding: 0;
				width: 40px;
				height: 40px;
				&:after {
					font-family: 'Ionicons';
					content: '\f267';
				}
      }
    }
		.mejs-volume-button {
			width: 40px;
			height: 40px;
			.mejs-volume-slider {
				background: #f9f9f9;
				width: 40px;
				height: 160px;
				padding: 0;
				margin: 0;
				top: -160px;
				box-sizing: border-box;
			}
			.mejs-volume-total {
				background: #bbb;
				width: 2px;
				height: 120px;
				left: 19px;
				top: 20px;
			}
			.mejs-volume-current {
				left: 19px;
				width: 2px;
				background: lightseagreen;
				//height: 50px;
			}
			.mejs-volume-handle {
				display: block;
				width: 10px;
				height: 10px;
				background: lightseagreen;
				border-radius: 50%;
				position: absolute;
				transition: transform 0.4 ease-in-out;
				left: 15px;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
		.mejs-mute {
			width: 40px;
			height: 40px;
			margin: 0;
			padding: 0;
			button {
				font-size: 20px;
				background: transparent;
				width: 40px;
				height: 40px;
				margin: 0;
				padding: 0;
				color: #222;
				&:after {
					font-family: 'Ionicons';
					content: '\f3ba';
				}
			}
		}
		.mejs-unmute {
			width: 40px;
			height: 40px;
			margin: 0;
			padding: 0;
			button {
				background: transparent;
				font-size: 20px;
				width: 40px;
				height: 40px;
				margin: 0;
				padding: 0;
				color: #222;
				&:before {
					font-family: 'Ionicons';
					content: '\f3b8';
				}
			}
		}
		.mejs-time {
			height: 100%;
			padding: 0 1em;
			span {
				color: #222;
			}
			button {
				color: #fff;
			}
		}
		.mejs-currenttime-container,
		.mejs-duration-container {
			display: inline-flex;
			align-items: center;
			background: transparent;
			font-size: 14px;
			padding-top: 1px;
			box-sizing: border-box;
		}
		.mejs-captions-button {
			display: none;
		}
		.mejs-horizontal-volume-slider {
			background: transparent;
			width: 100px;
			height: 2px;
			padding: 0;
			margin: 0 20px 0 0;
			display: block;
			box-sizing: border-box;
			margin-top: 19px;
			.mejs-offscreen {
				display: none;
			}
			.mejs-horizontal-volume-total {
				height: 2px;
				width: 100%;
				//position: relative;
				background: #aaa;
				top: 0;
			}
			.mejs-horizontal-volume-current {
				height: 2px;
				background: lightseagreen;
				//position: relative;
				width: 100%;
				top: 0;
			}
			.mejs-horizontal-volume-handle {
				display: block;
				width: 10px;
				height: 10px;
				background: lightseagreen;
				border-radius: 50%;
				position: absolute;
				margin-top: -4px;
				top: 0;
				transition: transform 0.4 ease-in-out;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
  }
  .mejs-button,
  .mejs-time {
    //position: relative;
    //background: #b00;
  }
	video {
		width: 100%;
	}
	.mejs-layers {
		width: 100%;
		.mejs-overlay-play {
			width: 100%!important;
			height: 100%!important;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.mejs-overlay-button {
    		position: static;
				box-sizing: border-box;
    		width: auto;
    		height: auto;
				display: inline-block;
				flex-direction: column;
				justify-content: center;
				align-items: center;
    		margin: 0;
    		background: none;
				padding: 14px 24px;
				border: 5px solid rgba(250, 250, 250, 0.6);
				border-radius: 50%;
				color: rgba(250, 250, 250, 0.6);
				font-size: 60px;
				text-align: center;
				//width: 80px;
				//height: 80px;
				line-height: 1;
				transition: all 0.4s ease-in-out;
				&::after {
					margin-left: 4.5px;
					font-family: 'Ionicons';
					content: "\f215";
				}
				&:hover {
					transform: scale(1.2);
					color: #fff;
					border-color: #fff;
				}
			}
		}
	}
	.mejs-poster {
		width: 100%!important;
		height: 100%!important;
		background-size: cover;
		img {
			//width: 100%;
		}
	}
}
