#page .poem {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: table;
  margin: 0 auto;
  h1 {
    width: 100%;
  }
  p {
    min-width: 50%;
    text-indent: 0!important;
    margin-bottom: 1em!important;
  }
  .autor {
    //width: 70%;
  }
  .pagenum {
    align-self: flex-end;
  }
}
