#page .puzzle {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1em;
	span {
		background: pink;
		border-radius: 50%;
		display: inline-block;
		margin: 0.5em;
		padding: 1em;
	}
}
