#page p.puzzle-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1em;
	span {
		border-radius: 10px;
		display: inline-block;
		margin: 0.5em;
		padding: 0.5em 1em;
		padding: 1em;
	}
}
