#page .qa {
	border-left: 10px solid cornflowerblue;
	padding: 0 0 0 3px;
	.wraper {
		border-left: 2px solid cornflowerblue;
		margin-bottom: 1em;
		padding: 20px 20px 20px 40px;
		article {
			//flex-grow: 2;
			margin: 1em;
		}
		section {
			//flex-grow: 1;
		}
		p {
			margin: 0;
			width: 100%;
		}
		p:last-of-type {
			margin: 0;
		}
		img {
			padding: 0;
		}
	}
}
