#page .questions {
	background: floralwhite;
	border-bottom: 2px solid orange;
	border-radius: 0;
	border-top: 2px solid orange;
	margin: 40px -40px 40px -40px;
	padding: 30px 40px;
	p {
		margin: 0 0 .5em 0;
		text-align: left;
		text-indent: 0;
		&:last-of-type {
			margin: 0;
		}
	}
}
