.quote {
  width: 100%;
  display: flex;
  margin: 40px 0;
  font-family: Arial;
  box-sizing: border-box;
  .avatar {
    padding: 00px 0;
   .name {
      float: none;
      text-align: center;
      line-height: 1.2;
      font-size: 12px;
    }
    img {
      width: 100px!important;
      max-width: 100px!important;
      height: 100px!important;
      border-radius: 50%;
      background: #999;
      border: 1px solid #fefefe;
      outline: none;
      object-fit: cover;
      padding: 0!important;
      margin: 0!important;
    }
  }
  .quote-text {
    margin-left: 30px;
    padding: 20px 20px 20px 20px;
    border: 1px solid #999;
    //border-radius: 8px;
    position: relative;
    background: #fafafa;
    //box-shadow: 1px 1px 1px 1px #999;
    p {
      text-indent: 0!important;
    }
    &:before,
    &:after {
      display: block;
      background: #fafafa;
      position: absolute;
      content: '';
      //border: 10px solid transparent;
      //border-top: 10px solid #eee;
      transform: rotate(45deg);
    }
    &:before {
      width: 10px;
      height: 10px;
      left: -5px;
      top: 25px;
      z-index: 1;
      box-shadow: 0px 0px 0px 1px #999;
    }
    &:after {
      z-index: 2;
      box-shadow: none;
      top: 24px;
      width: 12px;
      left: -4px;
			height: 12px;
    }
    img {
      width: 120px;
      height: auto;
      float: left;
      padding: 0!important;
      margin: 0px 20px 10px 0px;
    }
  }
}
