#page .repeat {
	border-bottom: 3px solid cornflowerblue;
	border-top: 3px solid cornflowerblue;
	margin: 2em 0;
	padding: 2em 0;
	p {
		text-align: left;
		text-indent: 0;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.images2 {
		figure {
			img {
				width: 50%;
			}
		}
	}
}
