#page .rule,
#page .rule2 {
	border-bottom: 3px solid crimson;
	border-top: 3px solid crimson;
	margin: 40px -40px 40px -40px;
	padding: 30px 40px;
	p {
		text-align: left;
		text-indent: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.images2 {
		figure {
			img {
				width: 50%;
			}
		}
	}
	table {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

#page .rule2 {
	border-bottom: 3px solid orange;
        border-top: 3px solid orange;
}
