.syllable {
	line-height: 2!important;
}
.sdot {
	position: relative;
}
.sdot:after {
	color: red;
	content: "·";
	font-weight: 700;
	line-height: 1;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0.8em;
	width: 100%;
	text-indent: 0;
}
.sarc {
	border-radius: 0% 0% 50% 50%;
	display: inline;
	position: relative;
	text-align: center;
}
.sarc:before {
	border-bottom: 2px solid #666;
	border-radius: 0 0 50% 50%;
	bottom: -0.6em;
	color: red;
	content: "";
	height: 0px;
	padding: 0.6em 0px;
	position: absolute;
	right: 0em;
	width: 100%;
	text-indent: 0;
}
