#page table {
	border: 1px solid #fff;
	margin: 0 auto 1em;
	min-width: 50%;
	border-collapse: collapse;
	td {
		padding: 0.5em;
		vertical-align: middle;
		p {
			text-align: left;
			&:last-child {
				margin-bottom: 0!important;
			}
		}
	}
	td.bold {
		font-weight: 700;
	}
	tr.bold {
		font-weight: 700;
	}
	th {
		padding: 0.5em;
	}
	tr:nth-child(even) {
		background-color: #fafafa;
	}
}
#page table.border {
	td {
		border: 1px solid #222;
		margin: 0;
	}
}
#page table.transparent {
	tr {
		background: transparent;
	}
}
