@font-face {
  font-family: 'udmbook';
  src: url('../font/udmbook.eot?59037350');
  src: url('../font/udmbook.eot?59037350#iefix') format('embedded-opentype'),
       url('../font/udmbook.woff2?59037350') format('woff2'),
       url('../font/udmbook.woff?59037350') format('woff'),
       url('../font/udmbook.ttf?59037350') format('truetype'),
       url('../font/udmbook.svg?59037350#udmbook') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'udmbook';
    src: url('../font/udmbook.svg?59037350#udmbook') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "udmbook";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-group:before { content: '\e800'; } /* '' */
.icon-together:before { content: '\e801'; } /* '' */
.icon-speech:before { content: '\e802'; } /* '' */
.icon-question:before { content: '\e803'; } /* '' */
.icon-bell:before { content: '\e804'; } /* '' */
.icon-key:before { content: '\e805'; } /* '' */
.icon-hand:before { content: '\e806'; } /* '' */
.icon-print:before { content: '\e807'; } /* '' */
.icon-palette:before { content: '\e808'; } /* '' */
.icon-phones:before { content: '\e809'; } /* '' */
.icon-looksee:before { content: '\e80a'; } /* '' */
.icon-arrow:before { content: '\e80b'; } /* '' */
.icon-arrows:before { content: '\e80c'; } /* '' */
.icon-book:before { content: '\e80d'; } /* '' */
.icon-bell2:before { content: '\e80e'; } /* '' */
.icon-blank:before { content: '\e80f'; } /* '' */
.icon-camera:before { content: '\e810'; } /* '' */
.icon-circle:before { content: '\e811'; } /* '' */
.icon-exclamation:before { content: '\e812'; } /* '' */
.icon-group2:before { content: '\e813'; } /* '' */
.icon-hat:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e815'; } /* '' */
.icon-listen:before { content: '\e816'; } /* '' */
.icon-make:before { content: '\e817'; } /* '' */
.icon-musickey:before { content: '\e818'; } /* '' */
.icon-new:before { content: '\e819'; } /* '' */
.icon-notebook:before { content: '\e81a'; } /* '' */
.icon-notebook2:before { content: '\e81b'; } /* '' */
.icon-less:before { content: '\e81c'; } /* '' */
.icon-read:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-solar:before { content: '\e81f'; } /* '' */
.icon-teacher:before { content: '\e820'; } /* '' */
.icon-together2:before { content: '\e821'; } /* '' */
.icon-write:before { content: '\e822'; } /* '' */
.icon-more:before { content: '\e823'; } /* '' */
.icon-digits:before { content: '\e824'; } /* '' */
.icon-abc:before { content: '\e825'; } /* '' */
.icon-idea:before { content: '\e826'; } /* '' */
.icon-listenwrite:before { content: '\e827'; } /* '' */
.icon-star:before { content: '\e828'; } /* '' */
.icon-cursor:before { content: '\e829'; } /* '' */
.icon-check:before { content: '\e82a'; } /* '' */
.icon-control:before { content: '\e82b'; } /* '' */
.icon-border:before { content: '\e82c'; } /* '' */
.icon-flake:before { content: '\e82d'; } /* '' */