
.icon-group:before { content: '\e800'; } /* '' */
.icon-together:before { content: '\e801'; } /* '' */
.icon-speech:before { content: '\e802'; } /* '' */
.icon-question:before { content: '\e803'; } /* '' */
.icon-bell:before { content: '\e804'; } /* '' */
.icon-key:before { content: '\e805'; } /* '' */
.icon-hand:before { content: '\e806'; } /* '' */
.icon-print:before { content: '\e807'; } /* '' */
.icon-palette:before { content: '\e808'; } /* '' */
.icon-phones:before { content: '\e809'; } /* '' */
.icon-looksee:before { content: '\e80a'; } /* '' */
.icon-arrow:before { content: '\e80b'; } /* '' */
.icon-arrows:before { content: '\e80c'; } /* '' */
.icon-book:before { content: '\e80d'; } /* '' */
.icon-bell2:before { content: '\e80e'; } /* '' */
.icon-blank:before { content: '\e80f'; } /* '' */
.icon-camera:before { content: '\e810'; } /* '' */
.icon-circle:before { content: '\e811'; } /* '' */
.icon-exclamation:before { content: '\e812'; } /* '' */
.icon-group2:before { content: '\e813'; } /* '' */
.icon-hat:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e815'; } /* '' */
.icon-listen:before { content: '\e816'; } /* '' */
.icon-make:before { content: '\e817'; } /* '' */
.icon-musickey:before { content: '\e818'; } /* '' */
.icon-new:before { content: '\e819'; } /* '' */
.icon-notebook:before { content: '\e81a'; } /* '' */
.icon-notebook2:before { content: '\e81b'; } /* '' */
.icon-less:before { content: '\e81c'; } /* '' */
.icon-read:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-solar:before { content: '\e81f'; } /* '' */
.icon-teacher:before { content: '\e820'; } /* '' */
.icon-together2:before { content: '\e821'; } /* '' */
.icon-write:before { content: '\e822'; } /* '' */
.icon-more:before { content: '\e823'; } /* '' */
.icon-digits:before { content: '\e824'; } /* '' */
.icon-abc:before { content: '\e825'; } /* '' */
.icon-idea:before { content: '\e826'; } /* '' */
.icon-listenwrite:before { content: '\e827'; } /* '' */
.icon-star:before { content: '\e828'; } /* '' */
.icon-cursor:before { content: '\e829'; } /* '' */
.icon-check:before { content: '\e82a'; } /* '' */
.icon-control:before { content: '\e82b'; } /* '' */
.icon-border:before { content: '\e82c'; } /* '' */
.icon-flake:before { content: '\e82d'; } /* '' */