.bg-coral {	background: coral;	padding: 0.5em;	text-align: justify;}
.bg-yellow {	background: #FBBD09;	padding: 0.5em;	text-align: justify;}
.button-test {	text-align: center;	padding-bottom: 60px;}
.games-list-item {	display: block;	width: 100%;	padding: 10px;}
.hint--top {	text-indent: 0;}
.popup-title {	font-weight: bold;	font-size: 1.5em;}
.search-not-found {	text-align: center;	margin: 20px;	font-size: 1.2em;}
.search-title {	font-size: 1.1em;	display: inline-block;	margin-bottom: 0.5em;	margin-left: 0px;}
.sort_item {	display: inline-block;	margin: 5px;	padding: 10px;	background-color: peachPuff;}
#kyllukam p {	text-indent: none;}
#lessons-list {	width: 20%;	text-align: center;}
#next-previous {display: flex;a {	text-decoration: none;	color: #ec008c;}#previous {	width: 40%;	text-align: left;}#next {	width: 40%;	text-align: right;}}
#page .bg-coral p {	text-indent: 2em;}
#page .ebook-page {	width: 80%;	height: 100%;	max-width: 600px;	margin: 20px auto;	padding: 0;	background: #fff;	box-sizing: border-box;img {	width: 100%;	min-width: 100%;	max-width: 100%;	height: auto;	min-height: auto;	max-height: 100%;	padding: 0;	text-align: center;}}
span.item-title1 {	margin-left: 15px;}
span.item-title2 {	margin-left: 30px;}
