.text-size1 {
	font-size: 18px;
}
.text-size2 {
	font-size: 20px;
}
.text-size3 {
	font-size: 22px;
}
.text-size4 {
	font-size: 24px;
}
.text-size5 {
	font-size: 26px;
}

@black: #222;
@blue: cornflowerblue;
@brown: brown;
@cadetblue: cadetblue;
@coral: coral;
@crimson: crimson;
@green: darkseagreen;
@darkorange: darkorange;
@lightseagreen: lightseagreen;
@lightskyblue: lightskyblue;
@orange: orange;
@pink: deeppink;
@purple: darkorchid;
@purple2: purple;
@red: red;
@slateblue: slateblue;
@violet: mediumvioletred;
@white: #fff;
@yellow: #FBBD09;
@burlywood: burlywood;
