#page .write {
	align-items: center;
	border-bottom: 2px dotted @brown;
	border-top: 2px dotted @brown;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
	padding: 1em 0;
	vertical-align: top;
	strong {
		display: inline-block;
		padding: 5px 10px;
		vertical-align: middle;
	}
	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
