#xtable {
	border: 1px solid #999;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.x-item {
		border: 1px solid #999;
		box-sizing: border-box;
		padding: 10px;
		width: 33.33%;
		p {
			text-align: left;
		}
	}
}
